##
## SPDX-FileCopyrightText: The LineageOS Project
## SPDX-License-Identifier: Apache-2.0
##

on boot
    write /sys/module/firmware_class/parameters/path /vendor/firmware
    insmod /vendor/lib/modules/dhd.ko \
        firmware_path=/wifi/fw_bcm4339a0_ag.bin \
        nvram_path=/wifi/nvram_ap6335.txt
